---
layout: markdown_page
title: "Group Direction - Authorization"
description: "Authorization keeps resources secure but accessible."
---

- TOC
{:toc}

| Group | **Authorization** |
| --- | --- |
| Stage | [Govern](https://about.gitlab.com/handbook/product/categories/#govern-stage) |
| Group | [Authorization](https://about.gitlab.com/handbook/product/categories/#authorization-group) |
| Content Last Reviewed | `2024-04-17` |


## Overview

This is the direction page for the Authorization group in the Govern stage. The Authorization group is responsible for ensuring that an authenticated user has access to the proper resources within the application. There is one category in the group and details on the direction can be viewed on the following individual category page:

1. [Permissions](permissions/)

## Our Focus

We are focused on making our customizable permissions offering more robust by adding additional granular permissions every milestone. We are also making it more scalable by adding functionality like SAML group sync and LDAP role assignment support. 

Right now, we are *not* focused on modifying the existing Admin role, or permissions that exist solely in the Admin role.

## Priorities

| Priority | Name | DRI | Target Release | 
| ------ | ------ | ------ | ------ |
<% data.product_priorities.authorization.priorities.each.with_index do |priority, index| %>
| <%= index + 1 %> | [<%= priority.name %>](<%= priority.url %>) | `<%= priority.dri.presence || "TBD" %>` | `<%= priority.target_release.presence || "TBD" %>`  |
<% end %>
